* {
  box-sizing: border-box;
}

body {
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem;
}

/* All inputs other than checkboxes & radios
 * should be block display so they sit on a new line
 */
input:not([type="checkbox"]):not([type="radio"]),
button,
textarea {
  display: block;
  font: inherit;
  color: inherit;
}
