.button {
  --bg: var(--bg-400);
  --bg-hover: var(--bg-200);
  max-width: max-content;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  color: inherit;
  background-color: var(--bg);
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--bg-hover);
}

.button:active {
  transform: translateY(1px);
}

.button.primary {
  --bg: var(--primary);
  --bg-hover: var(--primary-dark);
}

button.icon {
  --bg: transparent;
  --bg-hover: var(--bg-800);
  padding: 0.5rem;
}

.button.full-width {
  max-width: none;
}

.stripes {
  --stripe: var(--bg-400);
  background-image: repeating-linear-gradient(
    -45deg,
    var(--stripe),
    var(--stripe) 2px,
    transparent 2px,
    transparent 8px
  );
}

.highlight {
  max-width: max-content;
  background: var(--bg, white);
  padding: 0.25rem 0.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

copy-text {
  border: 0.25rem solid var(--bg-400);
}

copy-text > input {
  font-family: ui-monospace, Monaco, Consolas, monospace;
}

copy-text > button {
  border-left: inherit;
  display: grid;
  place-content: center;
}

.disclosure > summary {
  list-style: none;
}

.disclosure > summary::after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" /></svg>');
  content: " \002B";
  font: inherit;
  color: inherit;
  font-weight: bold;
}

.disclosure[open] > summary::after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" /></svg>');
  content: " \2212";
}

.disclosure > summary::-webkit-details-marker {
  display: none;
}

.nav-tab[aria-current] {
  font-weight: bold;
}

.nav-tab:hover,
.nav-tab:focus {
  outline: 0;
  background-color: var(--bg-800);
  text-decoration: underline;
}

@media (min-width: 50em) {
  .nav-tabs {
    display: flex;
    border-bottom: var(--border-title);
  }

  .nav-tab {
    display: block;
    position: relative;
    top: 1px;
    padding: 0.5rem 0.75rem;
    transition: background-color 0.3s;
  }

  .nav-tab[aria-current] {
    border: var(--border-title);
    border-bottom-color: transparent;
    background-color: var(--body-bg);
  }
}

.nav-tab:not([href]) {
  opacity: 0.75;
  border: 0;
  background: none;
  cursor: not-allowed;
}

.nav-tab:not([href]):hover,
.nav-tab:not([href]):focus {
  background: none;
  text-decoration: none;
}
