.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.hstack {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hstack.wrap {
  flex-wrap: wrap;
}

.vstack {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.hstack.gap-none,
.vstack.gap-none {
  gap: 0;
}

.hstack.gap-sm,
.vstack.gap-sm {
  gap: 0.5rem;
}

.hstack.gap-md,
.vstack.gap-md {
  gap: 1rem;
}

.hstack.gap-lg,
.vstack.gap-lg {
  gap: 1.5rem;
}

.hstack.gap-xl,
.vstack.gap-xl {
  gap: 2rem;
}

.center {
  max-width: var(--measure, 90rem);
  margin-left: auto;
  margin-right: auto;
}

.cover {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.switcher > * {
  --threshold: 28rem;
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
}
