html {
  --padding: clamp(0.5rem, 0.5rem + 4vw, 2rem);
  --font-sans: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --font-heading: "Eesti";
  --text-100: hsl(220, 20%, 10%);
  --text-200: hsl(220, 10%, 20%);
  --text-300: hsl(220, 10%, 30%);
  --text-400: hsl(220, 10%, 40%);
  --bg-100: hsl(220, 20%, 82%);
  --bg-200: hsl(220, 20%, 84%);
  --bg-300: hsl(220, 20%, 86%);
  --bg-400: hsl(220, 20%, 88%);
  --bg-500: hsl(220, 20%, 90%);
  --bg-600: hsl(220, 20%, 92%);
  --bg-700: hsl(220, 20%, 94%);
  --bg-800: hsl(220, 20%, 96%);
  --bg-850: hsl(220, 20%, 97%);
  --bg-900: hsl(220, 20%, 98%);
  --green: #00be00;
  --yellow-100: hsl(54, 100%, 82%);
  --yellow-700: hsl(54, 100%, 96%);
  --yellow: hsl(54, 100%, 50%);
  --yellow-dark: hsl(54, 100%, 46%);
  --blue: hsl(240, 96%, 48%);
  --blue-100: hsl(240, 80%, 88%);
  --blue-700: hsl(240, 80%, 98%);
  --red: #ff2800;
  --primary: var(--yellow);
  --primary-100: var(--yellow-100);
  --primary-700: var(--yellow-700);
  --primary-dark: var(--yellow-dark);
  --secondary: var(--blue);
  --secondary-100: var(--blue-100);
  --secondary-700: var(--blue-700);
  --tertiary: var(--green);
  --quarternary: var(--red);
  --body-bg: white;
  --info-bg: hsl(220, 85%, 96%);
  --info-fg: hsl(220, 60%, 20%);
  --border-title: 1px solid var(--bg-200);
  --font-mono: ui-monospace, Consolas, Monaco, "Ubuntu Mono", monospace;

  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  font-variant-numeric: tabular-nums; /* so numbers are all same width */
  color: var(--text-100);
  background-color: var(--body-bg);
}

main {
  padding: var(--padding);
}

main p,
main ul:not([role="list"]),
main ol:not([role="list"]),
main blockquote,
main pre,
main details,
main hr,
main .content {
  max-width: 46rem;
}

main p,
main ul:not([role="list"]),
main ol:not([role="list"]),
main blockquote,
main details {
  line-height: 1.7;
}

main :is(ul, ol):not([role="list"]) li + li,
main :is(ul, ol):not([role="list"]) li > * {
  margin-top: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  break-inside: auto;
}

thead {
  border-bottom: var(--border-title);
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: 0.75rem 0.5rem;
}

tr + tr {
  border-top: 1px solid var(--bg-600);
}

tr:nth-child(even) {
  background-color: var(--bg-800);
}

h1,
h2,
h3,
h4,
h5,
h6,
thead {
  font-family: "Eesti";
  line-height: 1.1;
}

.heading-anchor {
  opacity: 0;
  color: inherit;
  transition: opacity 0.2s;
}

/* Show heading links when focused or when containing heading is hovered */
.heading-anchor:focus,
*:hover > .heading-anchor {
  opacity: 1;
}

main h2 {
  --flow-space: 3rem;
  font-size: 1.5rem;
}

main h3 {
  --flow-space: 2rem;
  font-size: 1.25rem;
}

main h4 {
  --flow-space: 1.5rem;
  font-size: 1.125rem;
}

blockquote {
  margin-left: 0;
  border-left: 0.5rem solid var(--bg-100);
  padding-left: 1rem;
}

blockquote > * + * {
  margin-top: 0.5rem;
}

blockquote > p {
  line-height: 1.2;
}

figure {
  border-radius: 0.25rem;
  padding: var(--padding);
  background-color: var(--bg-850);
}

figcaption {
  margin-top: var(--padding);
  font-weight: bold;
  line-height: 1;
}

iframe {
  display: block;
  width: 100%;
  height: 32rem;
  border: 0.5rem solid;
  background-color: #fff;
  resize: both;
}

@supports (aspect-ratio: 16 / 10) {
  iframe {
    height: auto;
    aspect-ratio: 16 / 10;
  }
}

hr {
  --flow-space: 3rem;
  margin: var(--flow-space) 0;
  border: 0;
  border-top: var(--border-title);
}

kbd {
  border-radius: 2px;
  border: 1px solid var(--bg-100);
  box-shadow: 0 -1px 1px var(--bg-200) inset;
  padding: 2px 6px 3px;
  white-space: nowrap;
  vertical-align: middle;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1;
  background-color: var(--bg-900);
}

.contains-task-list {
  list-style: none;
  padding-inline-start: 0;
}

.task-list-item + .task-list-item {
  margin-top: 0.75rem;
}

.task-list-item > label {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  line-height: 1.2;
}

.task-list-item-checkbox {
  flex: 0 0 auto;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--text-100);
  border-radius: 0.125rem;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background-color 0.1s;
}

.task-list-item-checkbox:checked {
  /* border-color: var(--primary); */
  background-color: var(--primary);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>');
}
