* {
  box-sizing: border-box;
  margin: 0;
}

[hidden] {
  display: none !important;
}

a {
  color: var(--secondary);
}

a:focus {
  outline: 2px dashed var(--bg-100);
  outline-offset: 2px;
}

a[class] {
  text-decoration: none;
}

*:focus:not(:focus-visible) {
  outline: 0;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  -webkit-padding-start: 1.15em;
  padding-inline-start: 1.15em;
}

ul[role="list"],
ol[role="list"] {
  padding: 0;
  list-style: none;
}
summary {
  user-select: none;
}

input:not([type="checkbox"]):not([type="radio"]) {
  width: 100%;
  border: 0;
  padding: 1rem;
  font: inherit;
}

button {
  border: 0;
  padding: 1rem;
  font: inherit;
  font-weight: bold;
  background-color: var(--bg-400);
}
