code,
pre {
  --shadow-color: var(--bg-600);
  --shadow: inset 0 0 2px 1px var(--shadow-color);
  color: var(--text-100);
  background-color: var(--bg-850);
  font-size: 0.875em;

  font-family: var(--font-mono);
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
}

:not(pre) > code {
  border-radius: 4px;
  box-shadow: var(--shadow);
  padding: 0.15rem 0.35rem;
}

pre {
  --radius: 2px;
  position: relative;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 1rem;
  overflow: auto;
  font-size: 1rem;
}

pre[class|="language"]::after {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: var(--radius);
  padding: 0.3rem;
  line-height: 1;
  font-family: var(--font-sans);
  font-size: 0.75rem;
  font-weight: bold;
  background-color: var(--shadow-color);
}

pre.language-html::after {
  content: "HTML";
}

pre.language-css::after {
  content: "CSS";
}

pre.language-js::after {
  content: "JS";
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #9d9d9f;
}

.token.punctuation {
  color: #0184bc;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant {
  color: #c18401;
}

.token.symbol,
.token.deleted {
  color: #e45649;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50a14f;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #4078f2;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #986801;
}

.token.function,
.token.class-name {
  color: #ca1243;
}

.token.regex,
.token.important,
.token.variable {
  color: #a626a4;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
