<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="preload"
      href="/assets/fonts/GT-Eesti-Text-Light-subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link href="/assets/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="center">
      <div class="layout">
        <aside>
          {% include "nav.njk" %}
        </aside>
        <main id="main">
          <div class="main-wrapper flow">{{ content | safe }}</div>
        </main>
      </div>
    </div>
    <script src="/assets/nav.js"></script>
    <script type="module" src="/assets/checkboxen.js"></script>
  </body>
</html>