---
layout: base
---

{% macro link(url, label, icon) %}
  {#
    gross branch cause the "intro" page is a bare path
    all other pages are "one level down"
  #}
  <a
    class="nav-tab"
    {% if "index" in page.filePathStem %}
      href="{{ url }}/"
      {% if url === "" %}
      aria-current="page"
      {% endif %}
    {% else %}
      href="../{{ url + "/" if url !== "" }}"
      {% if url === page.fileSlug %}
      aria-current="page"
      {% endif %}
    {% endif %}
  >
    {{ label }}
  </a>
{% endmacro %}

<header class="vstack" style="--gap: 1.5rem">
  {# visually hide title since it's duplicated in the tabs below #}
  <h1>{{ week }} <span class="vh">{{ section }}</h1>
  <nav>
    <ul class="nav-tabs">
      <li>
        {{ link("", "Intro") }}
      </li>
      <li>
        {{ link("schedule", "Schedule") }}
      </li>
      <li>
        {{ link("learning-outcomes", "Learnings") }}
      </li>
      <li>
        {{ link("spikes", "Spikes") }}
      </li>
      <li>
        {{ link("project", "Project") }}
      </li>
      <li>
        {{ link("resources", "Resources") }}
      </li>
    </ul>
  </nav>
</header>

{{ content | safe }}