.button {
  --bg: var(--bg-400);
  --bg-hover: var(--bg-200);
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  color: inherit;
  background-color: var(--bg);
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--bg-hover);
}

.button:active {
  transform: translateY(1px);
}

.button.primary {
  --bg: var(--primary);
  --bg-hover: var(--primary-dark);
}

.stripes {
  --stripe: var(--bg-400);
  background-image: repeating-linear-gradient(
    -45deg,
    var(--stripe),
    var(--stripe) 2px,
    transparent 2px,
    transparent 8px
  );
}

.highlight {
  max-width: max-content;
  background: var(--bg, white);
  padding: 0.25rem 0.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

copy-text {
  border: 0.25rem solid var(--bg-400);
}

copy-text > input {
  font-family: ui-monospace, Monaco, Consolas, monospace;
}

copy-text > button {
  border-left: inherit;
  display: grid;
  place-content: center;
}
