.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.hstack {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hstack.wrap {
  flex-wrap: wrap;
}

.hstack.align-stretch {
  align-items: stretch;
}

.vstack {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.hstack.gap-none,
.vstack.gap-none {
  gap: 0;
}

.hstack.gap-sm,
.vstack.gap-sm {
  gap: 0.5rem;
}

.hstack.gap-md,
.vstack.gap-md {
  gap: 1rem;
}

.hstack.gap-lg,
.vstack.gap-lg {
  gap: 1.5rem;
}

.hstack.gap-xl,
.vstack.gap-xl {
  gap: 2rem;
}

.pad-sm {
  padding: 0.5rem;
}

.pad-md {
  padding: 1rem;
}

.pad-lg {
  padding: 1.5rem;
}

.pad-xl {
  padding: 2rem;
}

.center {
  max-width: var(--measure, 80rem);
  margin-left: auto;
  margin-right: auto;
}

.fz-sm {
  font-size: 0.875rem;
}

.fz-md {
  font-size: 1rem;
}

.fz-lg {
  font-size: 1.25rem;
}

.fz-xl {
  font-size: 1.5rem;
}

.fw-bold {
  font-weight: bold;
}
