/* Regular weight font */
@font-face {
  font-family: "Eesti";
  src: url("/assets/fonts/GT-Eesti-Text-Light-subset.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

/* Bold weight font */
@font-face {
  font-family: "Eesti";
  src: url("/assets/fonts/GT-Eesti-Text-Medium-subset.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

/* Italic style regular weight font */
@font-face {
  font-family: "Eesti";
  src: url("/assets/fonts/GT-Eesti-Text-Light-Italic-subset.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --padding: clamp(1rem, 1rem + 4vw, 4rem);
  --font-sans: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --font-heading: "Eesti";
  --text-dark: hsl(220, 20%, 20%);
  --text-mid: hsl(220, 10%, 35%);
  --text-light: hsl(220, 10%, 50%);
  --bg-100: hsl(220, 20%, 82%);
  --bg-200: hsl(220, 20%, 84%);
  --bg-300: hsl(220, 20%, 86%);
  --bg-400: hsl(220, 20%, 88%);
  --bg-500: hsl(220, 20%, 90%);
  --bg-600: hsl(220, 20%, 92%);
  --bg-700: hsl(220, 20%, 94%);
  --bg-800: hsl(220, 20%, 96%);
  --bg-900: hsl(220, 20%, 98%);
  --green: #00be00;
  --yellow: #ffe500;
  --blue: #0805ec;
  --red: #ff2800;
  --primary: var(--yellow);
  --secondary: var(--blue);
  --tertiary: var(--green);
  --quarternary: var(--red);
  --info-bg: hsl(50, 80%, 90%);
  --info-fg: hsl(50, 50%, 20%);
  --border-title: 1px solid var(--bg-200);

  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  font-variant-numeric: tabular-nums; /* so numbers are all same width */
  color: var(--text-dark);
}

a {
  color: var(--secondary);
}

a:focus {
  outline: 2px dashed var(--bg-100);
}

ul,
ol {
  padding-inline-start: 1.15em;
}

.main-wrapper {
  display: grid;
  grid-template-columns: minmax(min-content, 64ch) 1fr;
  margin-right: auto;
  padding: var(--padding);
  line-height: 1.7;
}

.main-wrapper > * {
  grid-column: 1 / 2;
}

.main-wrapper > table {
  grid-column: 1 / -1;
}

.main-wrapper > * + * {
  margin-top: var(--flow-space, 1rem);
}

table {
  width: 100%;
  border-collapse: collapse;
  break-inside: auto;
}

thead {
  border-bottom: var(--border-title);
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: 0.75rem 0.5rem;
}

tr + tr {
  border-top: 1px solid var(--bg-600);
}

tr:nth-child(even) {
  background-color: var(--bg-800);
}

code {
  border-radius: 4px;
  padding: 0.25rem 0.35rem;
  font-family: ui-monospace, Monaco, Consolas, monospace;
  font-size: 0.875em;
  font-weight: 600;
  background-color: var(--bg-700);
}

pre > code {
  display: block;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
thead {
  font-family: "Eesti";
  line-height: 1.1;
}

.heading-anchor {
  opacity: 0;
  color: inherit;
  transition: opacity 0.2s;
}

/* Show heading links when focused or when containing heading is hovered */
.heading-anchor:focus,
*:hover > .heading-anchor {
  opacity: 1;
}

main h1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 0.5rem;
  text-decoration-skip-ink: none;
  text-underline-offset: -0.5rem;
  font-size: 3rem;
}

main h2 {
  --flow-space: 3rem;
  font-size: 1.5rem;
  border-top: var(--border-title);
  padding-top: 3rem;
}

main h1 + h2 {
  --flow-space: 0;
}

main h3 {
  --flow-space: 2rem;
  font-size: 1.25rem;
}

main h4 {
  --flow-space: 1.5rem;
  font-size: 1.125rem;
}

blockquote {
  margin-left: 0;
  border-left: var(--border-title);
  padding-left: 1.5rem;
  font-style: italic;
}

hr {
  --flow-space: 3rem;
  margin: var(--flow-space) 0;
  border: 0;
  border-top: var(--border-title);
}

.global-nav {
  scroll-padding-top: 3rem; /* so active link doesn't hit top of window */
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: max-content;

  padding: var(--padding);
  line-height: 1;
  background-color: var(--bg-900);
  color: var(--text-mid);
  transform: translateX(-20%);
  opacity: 0;
  transition: 0.25s transform ease-out, opacity 0.15s;
}

@supports (backdrop-filter: blur(2px)) {
  .global-nav {
    opacity: 0.9;
    backdrop-filter: blur(6px);
  }
}

.global-nav.active {
  box-shadow: 0 2px 4px hsla(200, 10%, 20%, 0.2),
    0 8px 20px hsla(200, 10%, 20%, 0.5);
  transform: none;
  opacity: 1;
}

.global-nav ul {
  list-style: none;
  padding-left: 0;
}

.global-nav h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--secondary);
}

.global-nav h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
  font-size: 1rem;
}

.global-nav .heading-anchor {
  display: none;
}

.global-nav > ul > li {
  font-weight: bold;
}

.global-nav > ul + ul {
  margin-top: 3rem;
}

.global-nav ul a {
  margin-top: 0.25rem;
  display: block;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.2s;
}

.global-nav ul a:hover {
  /* background-color: var(--active-bg); */
  text-decoration: underline;
}

.toggle-nav {
  position: fixed;
  left: 1.5rem;
  bottom: 1.5rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  border: 0;
  background-color: hsl(200, 10%, 82%);
  z-index: 10;
}

.contains-task-list {
  list-style: none;
  padding-inline-start: 0;
}

.task-list-item + .task-list-item {
  margin-top: 0.75rem;
}

.task-list-item > label {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  line-height: 1.2;
}

.task-list-item-checkbox {
  flex: 0 0 auto;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--text-dark);
  border-radius: 0.125rem;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background-color 0.1s;
}

.task-list-item-checkbox:checked {
  /* border-color: var(--primary); */
  background-color: var(--primary);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>');
}

@media (min-width: 50em) {
  .page-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: var(--padding);
  }

  .toggle-nav {
    display: none;
  }

  .global-nav {
    max-height: 100vh;
    position: static;
    width: auto;
    transform: none;
    border-right: var(--border-title);

    opacity: 1;
    backdrop-filter: none;
  }

  main {
    max-height: 100vh;
    overflow-y: scroll;
    /* font-size: 1.125rem; */
  }

  .main-wrapper {
    padding-left: 0;
  }
}
