/* Regular weight font */
@font-face {
  font-family: "Eesti";
  src: url("/assets/fonts/GT-Eesti-Text-Light-subset.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

/* Bold weight font */
@font-face {
  font-family: "Eesti";
  src: url("/assets/fonts/GT-Eesti-Text-Medium-subset.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

/* Italic style regular weight font */
@font-face {
  font-family: "Eesti";
  src: url("/assets/fonts/GT-Eesti-Text-Light-Italic-subset.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --padding: clamp(0.5rem, 0.5rem + 4vw, 4rem);
  --font-sans: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --font-heading: "Eesti";
  --text-100: hsl(220, 20%, 10%);
  --text-200: hsl(220, 10%, 20%);
  --text-300: hsl(220, 10%, 30%);
  --text-400: hsl(220, 10%, 40%);
  --bg-100: hsl(220, 20%, 82%);
  --bg-200: hsl(220, 20%, 84%);
  --bg-300: hsl(220, 20%, 86%);
  --bg-400: hsl(220, 20%, 88%);
  --bg-500: hsl(220, 20%, 90%);
  --bg-600: hsl(220, 20%, 92%);
  --bg-700: hsl(220, 20%, 94%);
  --bg-800: hsl(220, 20%, 96%);
  --bg-900: hsl(220, 20%, 98%);
  --green: #00be00;
  --yellow: #ffe500;
  --blue: #0805ec;
  --red: #ff2800;
  --primary: var(--yellow);
  --secondary: var(--blue);
  --tertiary: var(--green);
  --quarternary: var(--red);
  --body-bg: white;
  --info-bg: hsl(220, 85%, 96%);
  --info-fg: hsl(220, 60%, 20%);
  --border-title: 1px solid var(--bg-200);

  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  font-variant-numeric: tabular-nums; /* so numbers are all same width */
  color: var(--text-100);
  background-color: var(--body-bg);
}

a {
  color: var(--secondary);
}

a:focus {
  outline: 2px dashed var(--bg-100);
  outline-offset: 2px;
}

a[class] {
  text-decoration: none;
}

*:focus:not(:focus-visible) {
  outline: 0;
}

ul,
ol {
  padding-inline-start: 1.15em;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

summary {
  cursor: pointer;
  user-select: none;
}

.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main-wrapper {
  display: grid;
  grid-template-columns: minmax(min-content, 65ch) 1fr;
  margin-right: auto;
  padding: var(--padding);
  line-height: 1.7;
}

.main-wrapper > * {
  grid-column: 1 / 2;
}

/* big stuff can break out to full width */
.main-wrapper > h1,
.main-wrapper > header,
.main-wrapper > table,
.main-wrapper > img,
.main-wrapper > pre {
  grid-column: 1 / -1;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.vstack {
  display: grid;
  gap: var(--gap, 1rem);
  align-content: start;
}

.hstack {
  display: flex;
  gap: var(--gap, 1rem);
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  break-inside: auto;
}

thead {
  border-bottom: var(--border-title);
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: 0.75rem 0.5rem;
}

tr + tr {
  border-top: 1px solid var(--bg-600);
}

tr:nth-child(even) {
  background-color: var(--bg-800);
}

code {
  border-radius: 4px;
  padding: 0.25rem 0.35rem;
  font-family: ui-monospace, Monaco, Consolas, monospace;
  font-size: 0.875em;
  font-weight: 600;
  background-color: var(--bg-700);
}

pre > code {
  display: block;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
thead {
  font-family: "Eesti";
  line-height: 1.1;
}

.heading-anchor {
  opacity: 0;
  color: inherit;
  transition: opacity 0.2s;
}

/* Show heading links when focused or when containing heading is hovered */
.heading-anchor:focus,
*:hover > .heading-anchor {
  opacity: 1;
}

main h1 {
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 0.75rem;
  text-decoration-skip-ink: none;
  text-underline-offset: -0.75rem;
  font-size: 4rem;
  font-size: clamp(2rem, 2rem + 2vw, 4rem);
}

main h2 {
  --flow-space: 3rem;
  font-size: 1.5rem;
}

main h2:not(:first-of-type) {
  padding-top: var(--flow-space);
  border-top: var(--border-title);
}

main h3 {
  --flow-space: 2rem;
  font-size: 1.25rem;
}

main h4 {
  --flow-space: 1.5rem;
  font-size: 1.125rem;
}

blockquote {
  margin-left: 0;
  border-left: var(--border-title);
  padding-left: 1.5rem;
  font-style: italic;
}

hr {
  --flow-space: 3rem;
  margin: var(--flow-space) 0;
  border: 0;
  border-top: var(--border-title);
}

.center {
  max-width: var(--measure, 80rem);
  margin-left: auto;
  margin-right: auto;
}

.pill {
  max-width: max-content;
  padding: var(--pad, 0.75rem);
  font-size: var(--fz, 1rem);
  background-color: var(--bg, var(--primary));
}

/*
  only apply transitions when JS has run
  otherwise the nav flashes on mobile then fades out on page load
*/
#toggle-nav[aria-expanded] ~ #nav-content {
  transition: opacity 0.3s, visibility 0.3s, max-height 0.4s;
}

#toggle-nav[aria-expanded] #open,
#toggle-nav[aria-expanded] #closed {
  transition: opacity 0.3s, visibility 0.3s;
}

#toggle-nav[aria-expanded="false"] #open {
  visibility: visible;
  opacity: 1;
}

#toggle-nav[aria-expanded="false"] #closed {
  visibility: hidden;
  opacity: 0;
}

#toggle-nav[aria-expanded="true"] #open {
  visibility: hidden;
  opacity: 0;
}

#toggle-nav[aria-expanded="true"] #closed {
  visibility: visible;
  opacity: 1;
}

/* hide nav when button is not toggled */
#toggle-nav[aria-expanded="false"] ~ #nav-content {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
}

/* show nav when button is toggled */
#toggle-nav[aria-expanded="true"] ~ #nav-content {
  visibility: visible;
  max-height: 100vh;
  opacity: 1;
}

.global-nav {
  position: sticky;
  top: 1rem;
  max-height: 100vh;
  overflow-y: auto;

  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr;
  justify-content: space-between;
  row-gap: 1.5rem;
  padding: 1.5rem;
  line-height: 1;
}

.nav-content {
  grid-row: 2;
  grid-column: 1 / -1;
}

@media (min-width: 40em) {
  .layout {
    display: grid;
    grid-template-columns: 24ch 1fr;
  }

  #toggle-nav {
    display: none;
  }

  /*
    ensure nav is always visible on larger viewports
    (ignoring toggle button state)
  */
  #toggle-nav[aria-expanded] ~ #nav-content {
    /* display: initial;
    display: unset; */
    visibility: visible;
    max-height: 100vh;
    opacity: 1;
  }
}

.global-nav ul {
  list-style: none;
  padding-left: 0;
}

.global-nav a {
  text-decoration: none;
}

.nav-heading {
  display: inline;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--secondary);
  transition: color 0.2s;
}

.nav-link {
  display: block;
  font-size: 0.875rem;
  padding: 0.5rem;
  font-weight: normal;
  color: var(--text-400);
  transition: color 0.2s, background-color 0.2s;
}

.nav-link:hover {
  color: var(--text-100);
}

.nav-link[aria-current] {
  font-weight: bold;
  color: var(--info-fg);
  background-color: var(--info-bg);
}

.toggle-nav {
  /* position: fixed;
  left: 1.5rem;
  bottom: 1.5rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%; */
  border: 0;
  background: none;
  padding: 0.5rem;
  /* background-color: hsl(200, 10%, 82%);
  z-index: 10; */
}

.contains-task-list {
  list-style: none;
  padding-inline-start: 0;
}

.task-list-item + .task-list-item {
  margin-top: 0.75rem;
}

.task-list-item > label {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  line-height: 1.2;
}

.task-list-item-checkbox {
  flex: 0 0 auto;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--text-100);
  border-radius: 0.125rem;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background-color 0.1s;
}

.task-list-item-checkbox:checked {
  /* border-color: var(--primary); */
  background-color: var(--primary);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>');
}

.nav-tab[aria-current] {
  font-weight: bold;
}

.nav-tab:hover,
.nav-tab:focus {
  outline: 0;
  background-color: var(--bg-800);
  text-decoration: underline;
}

@media (min-width: 50em) {
  .nav-tabs {
    display: flex;
    border-bottom: var(--border-title);
  }

  .nav-tab {
    display: block;
    position: relative;
    top: 1px;
    padding: 0.5rem 0.75rem;
    transition: background-color 0.3s;
  }

  .nav-tab[aria-current] {
    border: var(--border-title);
    border-bottom-color: transparent;
    background-color: var(--body-bg);
  }
}
