* {
  box-sizing: border-box;
}

label,
input,
button {
  display: block;
  font: inherit;
  color: inherit;
}

body {
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: hsl(280, 15%, 25%);
  background-color: hsl(280, 10%, 96%);
}

label {
  margin-top: 1rem;
  font-weight: bold;
}

input {
  width: 100%;
}

button {
  margin-top: 1rem;
}
